body {
   font-family: Arial, Helvetica, sans-serif;
   background-size: 100% auto;
   width: 100vw;
   height: 100vh;
}
 .logo {
   width: 400px;
   height: 230px;
   margin: 10% 10%;
 }
 header {
   display: grid;
   grid-template-columns: 35% 60%;
   width: 100%;
 }
 main {
   height: auto;
   width: 100%;
   display: grid;
   grid-template-columns: 30% 40% 30%;
 }
 nav {
   margin: 2% 1% 2%;
   height: 20%;
   width: 15%;
   color: rgb(102, 99, 99);
   font-family: Helvetica, sans-serif;
   font-size: 25px;
   font-weight: bold;
   border-radius: 25px;
   background: transparent;
   padding: 20px;
   text-align: center;
 }
 .has-border {
   background: none;
   padding: 16px;
   font-size: 40px;
   text-decoration: none;
   color: rgb(226, 168, 8)
 }
 nav {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   padding-right: 2%;
 }
 #profile-pic {
   width: 300px;
   height: 500px;
   border-radius: 48%;
   margin: 0% auto;
   grid-column: 2/3;
 }
 h1 {
   font-size: 45px;
   color:rgba(221, 155, 13, 0.993);
   grid-column: 2/3;
   margin: 5% auto;
   border-bottom: dotted rgba(226, 167, 5, 0.527);
 }
 h2 {
   grid-column: 2/3;
   margin: 3% auto;
   color: rgba(151, 150, 148, 0.979);
   font-style: italic;
   font-size: 45px;
 }
 .small-text {
   grid-column: 2/3;
   color: rgb(209, 154, 3);
   font-size: 10px;
   margin: 10% auto;
 }
 button {
   grid-column: 2/3;
   margin: 0% auto;
   width: 40%;
   height: 3%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   border-radius: 40px;
   background: rgba(0, 0, 0, 0.747);
   padding: 15px;
   padding-bottom: 10%;
   text-align: center;
   color: rgba(207, 161, 9, 0.973);
   letter-spacing: 5px;
   font-style: oblique;
   font-weight: bold;
 }
 @media only screen and (max-width: 770px) {
  body {
    height:100%;
    width: 100%;
  }
  .logo {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .has-border {
    display: none;
  }
  #profile-pic {
    width: auto;
    height: auto;
  }
  h1 {
    font-size: 35px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
  }
  .hamburger span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: rgba(95, 75, 139, .8);
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    left: 0;
    transition: all .25s ease-out;
  }
  .hamburger span:nth-child(1) {
    top: 0px;
  }
  
  .hamburger span:nth-child(2) {
    top: 18px;
  }
  
  .hamburger span:nth-child(3) {
    top: 36px;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger.hamburger-close span:nth-child(1) {
    background: rgba(95, 75, 139, 1);
    top: 18px;
    transform: rotate(135deg);
  }
  .hamburger.hamburger-close span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .hamburger.hamburger-close span:nth-child(3) {
    background: rgba(95, 75, 139, 1);
    top: 18px;
    transform: rotate(-135deg);
  }
}
  @media only screen and (max-width: 350px) {
    body {
      height:100%;
      width: 100%;
    }
  }