body {
  margin: auto;
  height: 850px;
  width: 1000px;
  display: flex;
}
.background-image {
  position: fixed;
}
.open-button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 580px;
  margin-top: 22%;
  left: 20%;
  border-radius: 48%;
  font-size: 80px;
  text-align: center;
  font-family: 'Handlee', cursive;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 60px;
  left: 58%;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 18%;
}
label {
  font-size: 2px;
  font-weight: bold;
  font-family: 'Handlee', cursive;
}
}
#name {
  text-align: center;
  font-weight: bold;
  font-family: 'Handlee', cursive;
}
#bio {
  background-color: #ddd;
  width: 300px;
  height: 80px;
  margin-bottom: 20px;
}
#phone {
  margin-bottom: 20px;
  width: 231px;
  height: 30px;
  background-color: #ddd;
}
#date {
  margin-bottom: 20px;
  width: 205px;
  height: 30px;
  background-color: #ddd;
}
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Handlee', cursive;
}
}
.form-container input[type=text] {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: rgb(57, 134, 60);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 50%;
  font-size: 20px;
  font-family: 'Handlee', cursive;
}
.form-container .cancel {
  background-color: rgb(54, 51, 51);
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
@media only screen and (max-width: 750px) {
  .open-button {
    width: 450px;
    margin-top: 15%;
    left: 8%;
    font-size: 65px;
  }
  .form-popup {
    left: 20%;
    top: 25%;
  }
}
@media only screen and (max-width: 500px) {
  .open-button {
    width: 260px;
    height: 50px;
    margin-top: 10%;
    left: 30px;
    font-size: 35px;
  }
  .form-popup {
    left: 5px;
    top: 18%;
  }
  .form-container {
    max-width: 250px;
  }
  label {
    font-size: 16px;
  }
  #bio {
    background-color: #ddd;
    width: 250px;
    height: 80px;
    margin-bottom: 10px;
  }
  #phone {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
  }
  #date {
    width: 250px;
  }
}
