* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: Arial;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px;
}

.column {
  max-width: 25%;
  padding: 10px 5px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}
.image{
  position: relative;
  padding: 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
  }
  .content {
  opacity: .5;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 5;
  color: #f7f8f8;
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  }
  .image .content:hover { 
    margin-top: 10px;
    opacity: 1; 
    background: rgba(0, 0, 0, 0.5);
  }  
  .image .content .text {
  height: 0;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.8s;
  }
  .image .content:hover .text {
  opacity: 2;
  transform: translateY(165px);
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}