
main {
    border: dashed black;
    margin: auto;
    height: 850px;
    width: 850px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 20% 5% 55%;
}
h1 {
    grid-column: 2/3;
    text-align: center;
    margin-top: 60px;
    font-size: 60px;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.4;
    transition: 0.5s;
}
h1:hover {
    opacity: 1
}

.address {
    grid-column: 1/2;
    grid-row: 2/3;
}
.address h2 {
    text-align: center;
    font-size: 25px;
}
ul {
    list-style-type: none;
}
#number {
    display: none;
}
.discription {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.discription h3 {
    text-align: center;
    font-size: 25px;
}
.college {
    margin-right: 14px;
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
}
.college h4 {
    margin-top: 25px;
    margin-left: 25px;
    text-align: center;
    font-size: 25px;
}
.skillz {
    margin-top: 30px;
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 25px;
    text-align: center;
}
.proff {
    margin-top: 6px;
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: 35px;
    text-align: center;
}
.experience {
    margin: auto;
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
}
.jobs {
    margin: auto;
    grid-column: 2/4;
    grid-row: 4/5;
}
.jobs p {
    font-size: 22px;
    text-decoration: underline;
}